MONGO_URI=mongodb+srv://altaeavldik_db_user:YOUR_PASSWORD@ab1lmns.3wwzgft.mongodb.net/?appName=ab1lmns
JWT_SECRET=supersecretkeypleasechangemeinproduction
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
FRONTEND_URL=http://localhost:5173
